<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_login/css/style.css' %}">
    <title>User Login</title>
</head>
<body>
    <div id="wrapper">
        <div id="loginBox">
            <h2>User Login</h2>
            <h3>Register:</h3>
            <form action="/create_user" method="post">
                <input type="hidden" name="register" value="register">
                <p>First Name: <input type="text" name="first_name" id="first_name"></p>
                <p>Last Name: <input type="text" name="last_name" id="last_name"></p>
                <p>Email: <input type="email" name="email_address" id="email_address"></p>
                <p>Age: <input type="text" name="age" id="age"></p>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>