<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word Generator</title>
</head>
<body>
    <h1>Random Word Generator</h1>
    <p>Random Word (Attempt #{{request.session.count}})</p>
    <div>
        <h3>{{request.session.word}}</h3>
    </div>
    <form action="/random-word/generate/" method="post">
        {% csrf_token %}
        <input type="submit" value="Generate">
    </form>
    <form action="/random-word/reset/" method="post">
        {% csrf_token %}
        <input type="submit" value="Reset">
    </form>
</body>
</html>