<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User New</title>
</head>
<body>
    <h1>Add a new user</h1>
    <form action="/users/create/" method="post">
        {% csrf_token %}
        <input type="hidden" name="user_id">
        <p>First Name:</p>
        <input type="text" name="first_name" id="first_name">
        <p>Last Name:</p>
        <input type="text" name="last_name" id="last_name">
        <p>Email:</p>
        <input type="email" name="email" id="email">
        <input type="submit" value="Create">
    </form>
    <a href="/users/"><button>Go Back</button></a>
</body>
</html>