<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User {{user.id}} Information</title>
</head>
<body>
    <h1>User {{user.id}}</h1>
    <ul>
        <li>First Name: {{user.first_name}} {{user.last_name}}</li>
        <li>Email: {{user.email}}</li>
        <li>Created at: {{user.created_at}}</li>
    </ul>
    <a href="/users/{{user.id}}/edit"><button>Edit</button></a>
    <a href="/users/{{user.id}}/destroy"><button>Delete</button></a>
    <a href="/users/"><button>Go Back</button></a>
</body>
</html>