<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a Book + Review</title>
</head>
<body>
    <a href="/logout/"><button>Logout</button></a>
    <a href="/books/"><button>Home</button></a>
    {% if messages %}
    <ul class="message">
        {% for message in messages %}
        <li{% if message.tags%} class="{{message.tags}}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h2>Add a New Book Title and a Review</h2>
    <form action="/add/" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td><h3>Book Title: </h3></td>
                <td><input type="text" name="title" id="title"></td>
            </tr>
            <tr>
                <td><h3>Author: </h3></td>
            </tr>
            <tr>
                <td>Choose from the list: </td>
                <td><select name="author_list" id="author_list">
                    <option value="None">Author</option>
                    {% for book in books %}
                    <option value="{{book.id}}">{{book.author}}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Or add a new author: </td>
                <td><input type="text" name="author" id="author"></td>
            </tr>
            <tr>
                <td><h3>Review: </h3></td>
                <td><textarea name="content" id="content" cols="40" rows="8"></textarea></td>
            </tr>
            <tr>
                <td><h3>Rating: </h3></td>
                <td><select name="rating" id="rating">
                    <option value="None">Rating</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select></td></td>
            </tr>
        </table>
        <input type="submit" value="Add Book and Review">
    </form>
</body>
</html>